.cartContentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cartWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4vh;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

.productListWrap{
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
}

.productList{
    background-color: #FFFFF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    flex-grow: 1;
    margin: 0;

    box-sizing: border-box;
}


.quantityInput{
    padding: 3% 5%;
    border: 0.5px solid;
    outline: none;
    border-radius: 10px;
}

.quantityWrap{
    display: flex;
    flex-direction: column;
}

.itemWrap{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .h2Cart {
        font-size: 1.5rem;
    }
    .cartWrap{
        padding: 2% 0;
        margin: 2% 0;
        max-width: 70vw;
    }
    .productList {
        gap: 1rem;
        padding: 0.5rem;
    }

}

@media only screen and (min-width: 600px) {
    .h2Cart {
        font-size: 1.5rem;
    }
    .cartWrap{
        padding: 2% 0;
        margin: 2% 0;
        max-width: 60vw;
    }
    .productList {
        gap: 1rem;
        padding: 0.5rem;
    }
    
}

@media only screen and (min-width: 768px) {
    .h2Cart {
        font-size: 1.7rem;
    }
    .cartWrap{
        padding: 2% 0;
        margin: 2% 0;
        max-width: 85vw;
    }
    .productList {
        gap: 1.5rem;
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
    .h2Cart {
        font-size: 1.8rem;
    }
    .cartWrap{
        padding: 2% 0;
        margin: 2% 0;
        max-width: 75vw;
    }
    .productList {
        gap: 1.5rem;
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .h2Cart{
        font-size: 2rem;
    }
    .cartWrap{
        padding: 3% 0;
        margin: 3% auto;
        max-width: 60vw;
    }
    .productList {
        gap: 1.5rem;
        padding: 1rem 2.5rem; 
    }
}