.cartContentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4vh;
    padding: 3% 0;
    width: 50%;
    background-color: white;
    margin: 3% 0;
    border-radius: 15px;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

.h2Cart{
    font-size: 2rem;
}

.productList{
    background-color: #FFFFF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vh 0;
    flex-grow: 2;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 5% 3%;
    gap: 3vw;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

.quantityInput{
    /* padding: 0.75rem 1rem; */
    padding: 3% 5%;
    border: 0.5px solid;
    outline: none;
    border-radius: 10px;
    /* box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.1); */
}

.quantityWrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    column-gap: 2vw;
}

.itemWrap{
    display: flex;
    flex-direction: column;
}