.h2Category{
    font-size: 2rem;
    padding-left: 10vw;
    padding-top: 5vh;
}

.resultWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.listWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    padding: 10px;
}

.quantityWrap{
    display: flex;
    margin-bottom: 5vh;
    column-gap: 2vw;
}

.quantityInput{
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.1);
}