.footerWrap{
    display: flex;
    padding: 8vh 8vw;
    margin-top: 15vh;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(0deg, rgba(241, 233, 210, 0.30) 0%, rgba(241, 233, 210, 0.30) 100%), #FFFFF8;
    box-shadow: -40px 0px 90px 0px rgba(0, 0, 0, 0.15);
}

.logoWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoimg{
    width: 12vw;
    height: auto;
    margin-right: auto;
    padding-right: 2vw;
}

p a{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .footerWrap{
        font-size: 0.813rem;
        gap: 80px;
    }
}

@media only screen and (min-width: 600px) {
    .footerWrap{
        font-size: 0.938rem;
        gap: 80px;
    } 
}

@media only screen and (min-width: 768px) {
    .footerWrap{
        font-size: 1.063rem;
        gap: 100px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
    .footerWrap{
        font-size: 1.156rem;
        gap: 160px;
    }
}

@media only screen and (min-width: 1280px) {
    .footerWrap{
        font-size: 1.25rem;
        gap: 244px;
    }
}