.homeImg{
    width: 150vw;
    height: auto;
    animation: floating 5s infinite;
    animation-timing-function: ease-in-out;
    /* box-shadow: 30px 50px 90px 0px rgba(0, 0, 0, 0.25); */
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(10px, 20px); }
    100%   { transform: translate(0, -0px); }    
}

.homeWrap{
    background: rgba(248, 198, 209, 0.90);
    box-shadow: -40px -40px 90px 0px rgba(0, 0, 0, 0.20) inset, 40px 40px 90px 0px rgba(0, 0, 0, 0.20) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0px 20px;
    gap: 10vh;
}

.homeContent{
    display: flex;
    width: 1280px;
    /* padding: 120px 0px; */
    align-items: center;
    gap: 50px;
}

.searchCompWrap{
    align-self: center;
    padding-bottom: 20vh;
}

@media only screen and (max-width: 600px) {
    .homeContent{
        width: 100%;
        gap: 20px;
    }
    .homeImg{
        width: 30vw;
        height: auto;
    }
    .homeWrap{
        gap: 4vh;
    }
}

@media only screen and (min-width: 600px) {
    .homeContent{
        width: 100%;
        gap: 20px;
    }
    .homeImg{
        width: 30vw;
        height: auto;
    }
    .homeWrap{
        gap: 4vh;
    }
}

@media only screen and (min-width: 768px) {
    .homeImg{
        width: 35vw;
        height: auto;
    }
    .homeWrap{
        gap: 6vh;
    }

}

@media only screen and (min-width: 992px) {
    .homeImg{
        width: 90vw;
        height: auto;
    }
}