.headerwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(241, 233, 210, 0.30) 0%, rgba(241, 233, 210, 0.30) 100%), #FFFFF8;
}

.mainNavWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainNav{
    list-style-type: none;
    display: flex;
    gap: 5vw;
    margin: 0;
}

.logoimg{
    width: 12vw;
    height: auto;
    margin-right: auto;
    padding-right: 2vw;
}

.home,
.login,
.cart{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .home,
    .login,
    .cart{
        font-size: 0.813rem;
    }
}

@media only screen and (min-width: 600px) {
    .home,
    .login,
    .cart{
        font-size: 0.938rem;
    }
}

@media only screen and (min-width: 768px) {
    .home,
    .login,
    .cart{
        font-size: 1.063rem;
    }

}