.headerwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    flex-shrink: 0;
    /* border-bottom: 1px solid black; */
}

.mainNavWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainNav{
    list-style-type: none;
    display: flex;
    gap: 5vw;
    margin: 0;
}

.logoimg{
    width: 12vw;
    height: auto;
    margin-right: auto;
    padding-right: 2vw;
}

.home,
.login,
.cart{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.cart{
    margin-left: auto;
}