.searchWrap{
    display: flex;
    padding: 8vh 8vw;
    gap: 2vw;
}
.input{
    width: 20rem;
    padding: 0.75rem 1rem;
    border-radius: 9999px;
    border: none;
    outline: none;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.prudoctWrap{
    border: 1px solid black;
}