.searchWrap{
    display: flex;
    align-items: center;
}

.input{
    border-radius: 9999px;
    border: none;
    outline: none;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.resultInput{
    border-radius: 9999px;
    border: none;
    outline: none;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.resultWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.listWrap{
    display: grid;
    margin: 20px;
    padding: 10px;
}

.quantityWrap{
    display: flex;
    margin-bottom: 5vh;
    column-gap: 2vw;
}

.quantityInput{
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    box-shadow: 4px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.candyImg{
    overflow: visible;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .searchWrap{
        padding: 3vh 3vw;
        gap: 0.5vw;
    }
    .input{
        width: 14rem;
        padding: 1% 3%;
        font-size: 12px;
    }
    .resultInput{
        width: 14rem;
        padding: 1% 3%;
        font-size: 12px;
    }
    .h2Search{
        font-size: 1.2rem;
        padding-left: 5vw;
    }
    .listWrap{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .searchWrap{
        padding: 3vh 3vw;
        gap: 0.5vw;
    }
    .input{
        width: 16rem;
        padding: 1% 3%;
        font-size: 14px;
    }
    .resultInput{
        width: 16rem;
        padding: 1% 3%;
        font-size: 14px;
    }
    .h2Search{
        font-size: 1.5rem;
        padding-left: 5vw;
    }
    .listWrap{
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media only screen and (min-width: 768px) {
    .searchWrap{
        padding: 5vh 5vw;
        gap: 0.9vw;
    }
    .input{
        width: 18rem;
        padding: 1% 3%;
        font-size: 16px;
    }
    .resultInput{
        width: 18rem;
        padding: 1% 3%;
        font-size: 16px;
    }
    .h2Search{
        font-size: 1.7rem;
        padding-left: 7vw;
    }
    .listWrap{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
    .searchWrap{
        padding: 6vh 6vw;
        gap: 1vw;
    }
    .input{
        width: 20rem;
        padding: 1% 3%;
        font-size: 18px;
    }
    .resultInput{
        width: 20rem;
        padding: 1% 3%;
        font-size: 18px;
    }
    .h2Search{
        font-size: 1.8rem;
        padding-left: 6vw;
    }
    .listWrap{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1280px) {
    .searchWrap{
        padding: 8vh 6vw;
        gap: 2vw;
    }
    .input{
        width: 23rem;
        padding: 5% 6%;
        font-size: 20px;
    }
    .resultInput{
        width: 23rem;
        padding: 2% 4%;
        font-size: 20px;
    }
    .h2Search{
        font-size: 2rem;
        padding-left: 7vw;
    }
    .listWrap{
        grid-template-columns: repeat(3, 1fr);
    }
}